#food {
  height: auto;
  /* background-color: aquamarine; */
}

#food li {
  border: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  position: relative;
  height: 300px;
  margin: 40px 0;
}
#food img {
  width: 250px;
  height: 250px;
  top: 25px;
  left: -20px;
  position: absolute;
}

#food li .cont_area * {
  margin: 40px 0;
}
