#home {
  background-image: url(../images/home2.jpg);
  -webkit-filter: grayscale(50%);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  /* padding: 40px; */
  /* padding-top: 100px; */
  height: 100vh;
  text-align: center;
}
#home .home__container {
  height: inherit;
  display: grid;
  top: 0;
  grid-template-columns: repeat(4, minmax(100px, 1fr));
  column-gap: 50px;
}
#home .home__container__info {
  grid-column: 1/4;
  margin: auto 0;
}
#home__arrow {
  margin-top: 40px;
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}

.home__title,
.home__description {
  margin: 30px 0;
  color: black;
}

.home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-light-white);
  border-radius: var(--size-border-radius);
}

@keyframes homeImgMove {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 0 0px;
  }
  100% {
    background-position: 0 0;
  }
}
