/* navbar */
#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  height: 100px;
  opacity: 1;
  justify-content: space-between;
  align-items: center;
  /* color: var(--color-black); */
  /* color: green; */
  padding: 16px;
  background-color: rgba(0, 0, 0, 0.541);
  transition: all var(--animation-duration) ease-in-out;
  

  z-index: 5;
}
#navbar * {
  color: #f6f0e4;
}
#navbar.navbar--dark {
  padding: 16px;
}
.navbar__menu {
  display: flex;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
#home__cup {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  transition: all 1s linear;
}

.navbar__menu__item {
  display: flex;
  flex-direction: column;
  width: 90px;
  padding: 0 5px;
  margin: 0 4px;
  color: var(--color-white);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  align-items: center;
}
.navbar__menu__item a {
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__menu__item * {
  color: #f6f0e4;
}

.navbar__menu__item span {
  font-size: var(--font-micro);
}

.navbar__menu__item:hover {
  border-color: #f6f0e4;
}
.white {
  color: #f6f0e4;
}


.navbar__toggle-btn {
  position: absolute;
  top: 19px;
  right: 32px;
  font-size: 24px;
  display: none;
  color: var(--color-white);
}
#navbar.navbar--transparent{
  background-color: rgba(0, 0, 0, 0);
}
#navbar.navbar--dark {
  background-color: rgba(0, 0, 0, 0.541);
  /* background-color: rgba(250, 211, 144,1.0); */
  color: white;
}


/* .nav__box {
  width: 100%;
  height: 100px;
  position: absolute;
} */
