/* navbar */
#navbar {
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  /* color: var(--color-black); */
  /* color: green; */
  padding: 16px;
  background-color: #f6f0e4;
  transition: all var(--animation-duration) ease-in-out;

  z-index: 5;
}
#navbar.navbar--dark {
  padding: 16px;
}
.navbar__menu {
  display: flex;
}
.navbar__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
#home__cup {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  transition: all 1s linear;
}

.navbar__menu__item {
  display: flex;
  flex-direction: column;
  width: 90px;
  padding: 8px 12px;
  margin: 0 4px;
  color: var(--color-black);
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  align-items: center;
}
.navbar__menu__item a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navbar__menu__item * {
  color: black;
}

.navbar__menu__item span {
  font-size: var(--font-micro);
}

.navbar__menu__item:hover {
  border-color: var(--color-black);
}
.white {
  color: #f6f0e4;
}
.white:hover {
  border-color: white;
}
.navbar__toggle-btn {
  position: absolute;
  top: 19px;
  right: 32px;
  font-size: 24px;
  display: none;
  color: var(--color-white);
}
#navbar.navbar--dark {
  background-color: rgba(0, 0, 0, 0.541);
  color: white;
}
