table.table {
    border-collapse: separate;
    border-spacing: 1px;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    margin : 20px 10px;
    border-spacing: 0;
     
}
table.table tbody tr:hover {
   background-color:gainsboro;
}
table.table th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
}
table.table td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    margin: 0;
    /* padding: 0; */
    /* border: none; */

    /* rgb(123, 175, 164); */
}
.tableWrap{
	height: 600px;
    min-height: 600px;
}
.pagingWrap ul{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0 20px; */
}
.pagingWrap ul *{
    margin: 0 3px;
}
.paging__active *{
    color: red;
}
.hidden{
    /* display: none; */
}